<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>
  <body>
   
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Time To Answer</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% unless user_signed_in?%>
                <li><%= link_to 'Entrar', user_session_path %></a></li>
                <li><%= link_to 'Cadastra-se', new_user_registration_path %></a></li>
              <%else%>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <%=current_user.email%>  <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>

                   <ul class="dropdown-menu dropdown-user">
                      <li>
                        <%= link_to users_backoffice_welcome_index_path do %>
                          <i class="fa fa-user fa-fw">  Perfil</i>
                
                        <% end %>
                      </li>
                      <li role="separator" class="divider"> </li>
                      <li>
                          <%= link_to destroy_user_session_path, method: :delete do %>
                              <i class="fa fa-sign-out fa-fw"> Sair</i>
                              
                          <% end %>
                      </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                  
                  
                   
                    
                    
                <%end%>  
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        
        <h1>Site::Welcome#index</h1>
        <p>Find me in app/views/site/welcome/index.html.erb</p>

      </div>
    <%= yield %>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

   

   <%= javascript_include_tag 'application'%>  
   <%= javascript_include_tag 'site'%> 

   <% if notice %>
        
      <%= javascript_tag do %>
          $.bootstrapGrowl('<%= notice %>', {
          type: 'success',
          align: 'right',
          allow_dismiss: true,
          stackup_spacing: 10
                              });
      <% end %>       
    <% end %>
  </body>
</html>
